{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.fecha_publicacion %}
            <div class="date">
                {{ post.fecha_publicacion }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publicar</a>
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="fa fa-pencil"></span>Editar</a>
            <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}
        <h2>{{ post.titulo }}</h2>
        <p>{{ post.texto|linebreaksbr }}</p>
    </div>
{% endblock %}